@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "ANL";
    src: url("../public/font/ArialNova-Light.ttf");
  }
  
  @font-face {
    font-family: "ANB";
    src: url("../public/font/ArialNova-Bold.ttf");
  }
  @font-face {
    font-family: "AN";
    src: url("../public/font/ArialNova.ttf");
    
  }


body{
  font-family: AN;
  color: #001837;
}